
panelview,
.panel-arrowcontent {
    background: #15141a !important;
    color: #afafab !important;
}
/* Hide Firefox's default button icons */
.titlebar-button > .toolbarbutton-icon,
.titlebar-close > .toolbarbutton-icon,
.titlebar-min > .toolbarbutton-icon,
.titlebar-max > .toolbarbutton-icon,
.titlebar-restore > .toolbarbutton-icon {
    -moz-appearance: none !important;
    background: none !important;
}


.titlebar-button:hover{ background-color: hsla(0,0%,100%,.32) !important }
.titlebar-close:hover{ background-color: hsl(355,86%,49%) !important }


 .titlebar-close{ list-style-image: url(/home/siri/.local/share/icons/klassy/16-1/window-close-symbolic.svg) !important }
 .titlebar-min{ list-style-image: url(/home/siri/.local/share/icons/klassy/16-1/window-minimize-symbolic.svg) !important }
 .titlebar-max{ list-style-image: url(/home/siri/.local/share/icons/klassy/16-1/window-maximize-symbolic.svg) !important }
 .titlebar-restore{ list-style-image: url(/home/siri/.local/share/icons/klassy/16-1/window-restore-symbolic.svg) !important }
