:root {

    /* Base */
    --background: {background};
    --surface: {background};
    --surface_dim: {color0};
    --surface_bright: {color8};

    /* Surface containers */
    --surface_container_lowest: {color0};
    --surface_container_low: {color0};
    --surface_container: {color1};
    --surface_container_high: {color2};
    --surface_container_highest: {color8};

    /* Text */
    --on_background: {foreground};
    --on_surface: {foreground};
    --on_surface_variant: {color15};

    /* Outline */
    --outline: {color7};
    --outline_variant: {color8};

    /* Primary */
    --primary: {color12};
    --primary_container: {color4};
    --primary_fixed: {color12};
    --primary_fixed_dim: {color4};

    --on_primary: {background};
    --on_primary_container: {foreground};
    --on_primary_fixed: {background};
    --on_primary_fixed_variant: {color15};

    --inverse_primary: {color4};

    /* Secondary */
    --secondary: {color14};
    --secondary_container: {color6};
    --secondary_fixed: {color14};
    --secondary_fixed_dim: {color6};

    --on_secondary: {background};
    --on_secondary_container: {foreground};
    --on_secondary_fixed: {background};
    --on_secondary_fixed_variant: {color15};

    /* Tertiary */
    --tertiary: {color13};
    --tertiary_container: {color5};
    --tertiary_fixed: {color13};
    --tertiary_fixed_dim: {color5};

    --on_tertiary: {background};
    --on_tertiary_container: {foreground};
    --on_tertiary_fixed: {background};
    --on_tertiary_fixed_variant: {color15};

    /* Error */
    --error: {color9};
    --error_container: {color1};

    --on_error: {background};
    --on_error_container: {foreground};

    /* Misc */
    --scrim: #000000;
    --shadow: #000000;

    --inverse_surface: {foreground};
    --inverse_on_surface: {background};

    --surface_tint: {color12};
    --surface_variant: {color2};

    --source_color: {color4};



    /* RGB variants */

    --background_rgb: {background.rgb};
    --surface_rgb: {background.rgb};
    --surface_dim_rgb: {color0.rgb};
    --surface_bright_rgb: {color8.rgb};

    --surface_container_lowest_rgb: {color0.rgb};
    --surface_container_low_rgb: {color0.rgb};
    --surface_container_rgb: {color1.rgb};
    --surface_container_high_rgb: {color2.rgb};
    --surface_container_highest_rgb: {color8.rgb};

    --on_background_rgb: {foreground.rgb};
    --on_surface_rgb: {foreground.rgb};
    --on_surface_variant_rgb: {color15.rgb};

    --outline_rgb: {color7.rgb};
    --outline_variant_rgb: {color8.rgb};

    --primary_rgb: {color12.rgb};
    --primary_container_rgb: {color4.rgb};
    --primary_fixed_rgb: {color12.rgb};
    --primary_fixed_dim_rgb: {color4.rgb};

    --on_primary_rgb: {background.rgb};
    --on_primary_container_rgb: {foreground.rgb};
    --on_primary_fixed_rgb: {background.rgb};
    --on_primary_fixed_variant_rgb: {color15.rgb};

    --inverse_primary_rgb: {color4.rgb};

    --secondary_rgb: {color14.rgb};
    --secondary_container_rgb: {color6.rgb};
    --secondary_fixed_rgb: {color14.rgb};
    --secondary_fixed_dim_rgb: {color6.rgb};

    --on_secondary_rgb: {background.rgb};
    --on_secondary_container_rgb: {foreground.rgb};
    --on_secondary_fixed_rgb: {background.rgb};
    --on_secondary_fixed_variant_rgb: {color15.rgb};

    --tertiary_rgb: {color13.rgb};
    --tertiary_container_rgb: {color5.rgb};
    --tertiary_fixed_rgb: {color13.rgb};
    --tertiary_fixed_dim_rgb: {color5.rgb};

    --on_tertiary_rgb: {background.rgb};
    --on_tertiary_container_rgb: {foreground.rgb};
    --on_tertiary_fixed_rgb: {background.rgb};
    --on_tertiary_fixed_variant_rgb: {color15.rgb};

    --error_rgb: {color9.rgb};
    --error_container_rgb: {color1.rgb};

    --on_error_rgb: {background.rgb};
    --on_error_container_rgb: {foreground.rgb};

    --scrim_rgb: 0 0 0;
    --shadow_rgb: 0 0 0;

    --inverse_surface_rgb: {foreground.rgb};
    --inverse_on_surface_rgb: {background.rgb};

    --surface_tint_rgb: {color12.rgb};
    --surface_variant_rgb: {color2.rgb};

    --source_color_rgb: {color4.rgb};

}
