@-moz-document regexp("^https:\\/\\/www.google\\..*?\\/search\\?.*") {

    :root {
        --xhUGwc: var(--background) !important;
        --bbQxAb: var(--primary) !important;
    }

    * {
        --xhUGwc: var(--background) !important;
        color: var(--primary, #00ff00) !important;
        /*color: #00ff00 !important;*/
    }

    .f6F9Be {
        background: var(--background) !important;
    }
}
